.container{
    width: 100%;
    max-width: 600px;
    background-color: #0DB8DE;
    margin: 0 auto;
    display: block;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h3{
    color: rgb(114, 10, 143);
}

body{
    background: color #343343;
}