<div class="container bg-white ml-auto">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <form [formGroup]="login"  (ngSubmit)="logindata(login)" class="form-box">
        <h3>Login</h3>
        <div class="form-group">
            <label for="name">User Name</label>&nbsp;&nbsp;
            <input type="text" formControlName="fname" name="fname" class="form-control mb-3 mt-3" placeholder="Enter Email" 
             required minlength="1" maxlength="250" 
            />
            
            <!-- <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="invalid-feedback">
                <div *ngIf="fname.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                  This field must have at least 1 character.
                </div>
                <div *ngIf="fname.errors? ?.['maxlength']">
                  This field must have at most 250 characters.
                </div>
              </div> -->


        </div>
 <br>
        <div class="form-group">
            <label>Password</label>&nbsp;&nbsp;
            <input type="password" formControlName="password" class="form-control mb-3 mt-3" placeholder="Enter Password"/>
        </div>
       
    
        <button type="submit" class="btn btn-success">Login</button>
        <br>
        <span>Create New Account </span>&nbsp;&nbsp;
        <a routerLink="signup" class="btn btn-success" (click)="sbtn2()">Signup</a>
        <br/>
       
        <br><br>
        <a routerLink="forgetpassword" class="btn btn-danger">Forget Password</a>
    </form>
    </div>

    <div class="col-md-2"></div>


</div>
</div>
<router-outlet></router-outlet>


