.form-gap {
    padding-top: 70px;
}

.container{
   
    /* background-color: antiquewhite; */
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
img{
    width: 100%;
    max-width: 300px;
}